<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Add Project</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <h1>Create a Project:</h1>

    <form
      th:action="@{/addProject}"
      th:object="${terProjectForm}"
      method="POST"
    >
      Title:
      <input type="text" th:field="*{title}" />
      <br />
      Teacher 1:
      <input type="text" th:field="*{teacher}" />
      <br />
      Teacher 2:
      <input type="text" th:field="*{teacher2}" />
      <br />
      Student:
      <input type="text" th:field="*{student}" />
      <br />

      <input type="submit" value="Create" />
    </form>

    <br />

    <!-- Check if errorMessage is not null and not empty -->

    <div
      th:if="${errorMessage}"
      th:utext="${errorMessage}"
      style="color: red; font-style: italic"
    >
      ...
    </div>
  </body>
</html>
